@font-face{
    font-family: 'aller';
    src:url(../fonts/Aller_Bd.ttf);
}

@media (max-width: 30em), screen and (orientation: portrait) {
    html{
        font-size: 2rem;
    }
    body #clickers{
        height:400px;
        margin-right:20%;
    }
    body .title{
        margin-top:10%;
        width: 70%;
    }
    body .vs span{
        font-size: 2rem;
    }
    .clicker *{
        font-size:1rem;
    }
    .playButton{
        margin-top:10%;
        margin-bottom:10%;
    }
}

:root{
    --blur-amount:5px;
    --bg-color:rgb(0, 0, 0);
    --playcount-color: #E6E699;
    --text-shadow: 0 1px 3px rgba(0, 0, 0, .75);
    --text-shadow-click: 0 1px 4px rgba(0, 0, 0, .9);

    height:100%;
}

h1{
    margin:0;
}

button{
    font-family:'aller', sans-serif;
    color: #fff;
    text-decoration: none;
    text-shadow: var(--text-shadow);

    border-width:0;
}
body{
    font-family:'aller', sans-serif;
    color: #fff;
    text-decoration: none;
    text-shadow: var(--text-shadow);

    display:flex;
    flex-flow:column wrap;
    background-color:var(--bg-color);

    height:100%;
    position:relative;
}

.noclick{
    pointer-events: none;
    user-select: none;
}

.nodrag{
    user-select: none;
}

.fuzz{
    position:relative;
    /* opacity:60%; add bg darkener too*/ 
    filter:blur(var(--blur-amount)) grayscale(55%) saturate(85%);
}

.bg-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.dark-bg{
    background-color:rgb(34 40 42);
}

#top{
    position:relative;
    height:50%;
    width:100%;
}
#bottom{
    position:relative;
    height:50%;
    width:100%;
}

.big-border{
    /* border: black 5px solid; */
    box-shadow:inset 0px 0px 0px 10px rgb(0, 0, 0);
}

.vs{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:125px;
    height:125px;
    background-color: black;
    border-radius:100px;
    overflow:hidden;
    /* border:black solid 5px; */
}
.vs span {
    font-size:3rem;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}

.title{
    
    margin-top: 5%;
    margin-left:15%;
    font-size:2.5rem;

    width: 50%;
}

#topTitle{
    font-size:2.5rem;
}

#topTitleDiv{
    display:flex;
    flex-flow:row nowrap;
}
#topTitleDiv > a{
    margin-left:1%;
}
.playButton{
    transition: ease-out .2s all;

    background-color:#ffffff00;
    margin-left:14.5%;

    filter:invert(100%) drop-shadow(var(--text-shadow));

    width:4rem;
    height:4rem;
}
.playButton:hover{
    cursor:pointer;
    filter:invert(90%) drop-shadow(var(--text-shadow-click));
}
.turned{
    transform: rotate(-5deg);
}
.playButton:active{
    animation:shake 1s;
    filter:invert(80%) drop-shadow(var(--text-shadow-click));
}

.elipsis{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.mapper{
    margin-left:15%;
    font-size:1rem;
}

#clickers{
    position:absolute;
    top:62.5%;
    right:17%;

    width:15%;
    height: 200px;

    display:flex;
    flex-flow: wrap column;
    justify-content: space-between;
    text-align:center;

    
}
#clickers span{
    font-size:1.25rem;
}
.clicker{
    position:relative;
    width:290px;
    height:65px;

    border-radius:50px;
    font-size:1.5rem;

    border: rgb(255, 255, 255) 3px solid;
    background-color:rgb(255, 255, 255);
    text-shadow: none;
    color:#000000

}
#clickers * {
    transition: ease-out .2s;
    transition-property: background-color, transform;
}

.clicker:hover{
    cursor:pointer;
    text-shadow: var(--text-shadow);
    background-color:rgba(255, 255, 255, 0);
    color:white;
}
.clicker:hover .arrowUi{
    filter: invert(100%) sepia(50%) saturate(1000%) drop-shadow(var(--text-shadow));
    transform:translateY(-15%)
}
#downclick:hover .arrowUi{
    filter: invert(100%) sepia(50%) saturate(1000%) drop-shadow(0 -1px 3px rgba(0, 0, 0, .75));
    transform:translateY(15%) rotate(180deg)
}
.clicker:active{
    transform: scale(92.5%);
}
.svg{
    height:.4em;
    width:.4em;
    display: inline-flex;
    align-self: center;

    top: .125em;
    position: relative;
    margin-left:1%;
    filter:invert(100%) drop-shadow(var(--text-shadow));
}
.svg:hover{
    cursor: pointer;
}

.clicker svg{
    

    height:.9em;
    width:.9em;

    margin-left:5%;

    display: inline-flex;
    align-self: center;

    top: .125em;
    position: relative;
}

#downclick .arrowUi{
    transform: rotate(180deg);
    
}

.invis{
    opacity:0%;
}

#topPlayCount{
    right:15%;
    top:37.5%;
}

#bottomPlayCount{
    right:15%;
    bottom:37.5%;
}

.playCount::after{
    content:"plays";
    white-space: pre;
    display: block;
    margin-left:25%;
    color:white;           
    height:20%;     
    overflow:visible;                                                                                                                             
}

.playCount{
    position:absolute;
    font-size:2.5rem;
    color:var(--playcount-color);
}

.score{
    position:absolute;
    font-size:1.75rem;
    top:3%;
}
#score{
    right: 1%;
}
#maxScore{
    left:1%;
}
.scorespan{
    display:inline-block;
}
.shake{
    animation:shakeScale .75s;
    color:var(--playcount-color);
}

@keyframes shake{
    0%{
        transform: rotate(-15deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes shakeScale{
    0%{
        transform: rotate(-15deg) scale(100%);
    }
    25%{
        transform: rotate(15deg) scale(150%);;
    }
    50%{
        transform: rotate(-15deg) scale(200%);;
    }
    75%{
        transform: rotate(15deg) scale(150%);;
    }
    100%{
        transform: rotate(0deg) scale(100%);;
    }
}

.playPassAnimation::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    animation: fill 1.5s forwards; 
}

.green::before{
    background-color: green;
}
.red::before{
    background-color: red;
}
@keyframes fill {
    to {
        height: 100%;
    }
}